body{
	background-color: #e9ecef;		
}

/* Banner*/
#particles-js{
	width: 100%;
	height: 100vh;
	position: relative;
	background-color: #232741;
}

/* Início skew banner*/
#particles-js:after{
	content: '';
	width: 50%;
	height: 100px;
	position: absolute;
	bottom: -48px;
	left: 0;
	background-color: #e9ecef;
	transform: skewY(8deg);
}

#particles-js:before{
	content: '';
	width: 50%;
	height: 100px;
	position: absolute;
	bottom: -48px;
	right: 0;
	background-color: #e9ecef;
	transform: skewY(-8deg);
}
/* Fim skew banner*/

#habilidades{	
	background-color: #e9ecef;
	position: relative;	 	
}

#habilidades:before{
	content: '';
	width: 66%;
	height: 100px;
	position: absolute;
	bottom: -48px;
	right: 0;
	background-color: #232741;
	transform: skewY(-6.5deg);
}

.titulo{
	height: 40px;
	margin-top: 65px;
	text-align: center;
	background-color: #e9ecef;
	z-index: initial !important;
}

[data-tilt]{	
	width: 100%;
	height: 300px;	
	background-position: center;
	background-size: 30%;
	background-repeat: no-repeat;
}

#html{
	background-image: url('../img/html.png');	
}

#css{
	background-image: url('../img/css.png');	
}

#js{
	background-image: url('../img/js.png');	
}

#php{
	background-image: url('../img/php.png');	
}

#mysql{
	background-image: url('../img/mysql.png');
	background-size: contain;	
}

#laravel{
	background-image: url('../img/laravel.png');
	background-size: 55%;	
}

.projetos{
	height: 90vh;
	background-color: #232741;
	color: #fff;
	position: relative;
	display: flex;	
}

.projetos:after{
	content: '';
	width: 50%;
	height: 100px;
	position: absolute;
	bottom: -48px;
	left: 0;
	background-color: #e9ecef;
	transform: skewY(9deg);
}

h2{
	margin: auto;
}

.contato{
		
	height: 200px;		
	display: block;
}

button#mail {
	margin-left: 40%;
	margin-top: 30px;	
	width: 30%;	
	height: 80px;	
	font-size: 30px !important;
}

.footer-text{
	margin: auto;
	margin-left: 45%;
	margin-top: 50px;
}

a{
	color: #fff;
}

@media (max-width: 575.98px) {

	#particles-js:after{
		width: 51%;
	}

	#habilidades:before{
		transform: skewY(-25deg);
	}
	.projetos:after{
		transform: skewY(29deg);
	}

	button#mail {
		width: 80%;
		margin-top: 40px;
		margin-left: 10%;
	}

	#mysql{
	background-image: url('../img/mysql.png');
	background-size: 65%;	
	}	

 }

@media (min-width: 576px){
	#habilidades:before{
		transform: skewY(-25deg);
	}
	.projetos:after{
		transform: skewY(28deg);
	}

	button#mail {
		width: 80%;
		margin-left: 10%;
	}	

}

@media (min-width: 768px){
	#habilidades:before{
		transform: skewY(-15deg);
	}
	.projetos:after{
		transform: skewY(18deg);
	}

	[data-tilt]{
		background-size: 23%;
	}

	#laravel{	
	background-size: 40%;	
	}

	button#mail {
		width: 60%;
		margin-left: 20%;
	
		

}

@media (min-width: 992px){
	#habilidades:before{
		transform: skewY(-10deg);
	}
	.projetos:after{
		transform: skewY(13deg);
	}

	[data-tilt]{
		background-size: 45%;
	}

	#laravel{	
	background-size: 55%;	
	}

}

@media (min-width: 1100px){
	#habilidades:before{
		transform: skewY(-8deg);
	}
	.projetos:after{
		transform: skewY(11deg);
	}

	[data-tilt]{
		background-size: 130px;
	}	

	#mysql{	
	background-size: contain;	
	}

	#laravel{	
	background-size: 50%;	
	}

}

@media (min-width: 1400px){
	#habilidades:before{
		transform: skewY(-6.5deg);
	}
	.projetos:after{
		transform: skewY(9deg);
	}

}











